body {
  background-color: #0a0a0a;
  color: rgba(255, 255, 255, 0.75);
  font-family: "Poppins";
  font-size: 18px !important;
  line-height: 28px !important;
  font-weight: 300 !important;
}

@font-face {
  font-family: "Orbitron";
  src: url("/fonts/Orbitron/orbitron.ttf") format("truetype");
}
@font-face {
  font-family: "Poppins";
  src: url("/fonts/Poppins.ttf") format("truetype");
}

h1,
h2,
h3 {
  color: white;
  font-family: "Orbitron";
  letter-spacing: 2px;
  text-align: center;
}

h2 {
  font-size: 40px !important;
  line-height: 52px;
  font-weight: 700;
}

h2 span {
  font-weight: 900;
}

h4 {
  color: white;
  font-size: 18px !important;
  font-weight: 500;
  line-height: 28px;
}

a {
  color: white;
  text-decoration: none;
}

h1 {
  font-size: 48px !important;
  line-height: 1.2;
}

p {
  color: rgba(255, 255, 255, 0.66);
}

p b {
  color: white;
  font-weight: 500 !important;
}

.wrapper {
  background-color: #171717;
  padding: 36px;
  width: calc((100% / 3) - 21px);
  font-size: 15px;
  line-height: 22px;
  display: inline-block;
  border-radius: 12px;
}

.wrapper-colored {
  font-size: 17px;
  line-height: 24px;
}

.section-narrow {
  width: 1280px;
  margin: 0 auto;
}

.btn-dapp {
  background-image: url("/img/btnbg.png");
  background-size: cover;
  padding: 16px 36px;
  border-radius: 12px;
  font-size: 17px;
  font-weight: 400;
  background-color: #940bff;
  color: white;
  display: inline-block;
  text-align: center;
}

.btn-dapp-small {
  padding: 8px 16px;
  border-radius: 8px;
  font-size: 15px;
  font-weight: 400;
}

.btn-dapp img {
  position: relative;
  top: 4px;
  margin-left: 8px;
  display: inline-block;
}

.top-nav {
  width: 100%;
  padding: 40px 32px 32px;
  margin-bottom: 360px;
}

.top-nav-links {
  float: right;
}

.logo {
  float: left;
  height: 120px;
  position: absolute;
  left: 24px;
  top: 32px;
}

.top-nav a {
  display: inline-block;
  margin-left: 48px;
}

#homeimg {
  position: relative;
  top: 5px;
}

.intro {
  text-align: center;
  max-width: 860px;
  margin-bottom: 128px;
}

.intro p {
  padding: 24px 0 36px;
}

.wrapper-mid {
  width: calc(100% / 3);
  margin: 0 16px;
}

footer {
  text-align: center;
  margin: 0 auto 48px;
}

footer img {
  display: inline-block;
  margin: 48px 4px 16px;
}

footer p {
  display: block;
  width: 100%;
  font-size: 14px;
  line-height: 20px;
}

.shapethefuture {
  background-color: #171717;
  text-align: center;
  height: 720px;
  border-radius: 12px;
}

.shapethefuture h2 {
  margin-bottom: 24px;
}

.shapethefuture img {
  border-radius: 12px 12px 0 0;
}

.shapethefuture .content {
  position: relative;
  top: -160px;
}

.hidden {
  display: none;
}

.revolutionaryforce {
  background-image: url(/img/weusegradient.png);
  width: 830px;
  background-size: cover;
  border-radius: 12px;
  padding: 37px;
  display: inline-block;
  position: relative;
  top: -2px;
  margin-top: 24px;
}

.limitlesspossibilities {
  display: inline-block;
  width: 428px;
  margin-left: 16px;
  height: 100%;
  position: relative;
}

.limitlesspossibilities h4 {
  margin-bottom: 12px;
}

.text-med {
  font-size: 15px;
  line-height: 25px;
}

.problemandsolution {
  padding: 96px 0;
}

.hidden-desktop {
  display: none;
}

.howitworks .wrapper {
  position: relative;
}

.howitworks img {
  position: absolute;
  top: calc(50% - 12px);
  right: 32px;
}

.problemandsolution {
  background-image: url("/img/vibrantbg.png");
  background-size: cover;
}

.solutiontotheproblem h2 {
  width: 40%;
  margin-right: 10%;
  display: inline-block;
  text-align: left;
  position: relative;
  top: -24px;
}

.solutiontotheproblem p {
  width: 49%;
  display: inline-block;
  text-align: left;
  margin-bottom: 48px;
}

#miningvideo {
  width: 405px;
  display: inline-block;
}

#miningvideowrapper {
  overflow: hidden;
  display: inline-block;
}

.gradient-text {
  background-color: #f3ec78;
  background-image: linear-gradient(45deg, #da8cff, #8000ff);
  background-size: 100%;
  -webkit-background-clip: text;
  -moz-background-clip: text;
  -webkit-text-fill-color: transparent;
  -moz-text-fill-color: transparent;
}

.miningisfarfromideal {
  background-color: #171717;
  border-radius: 12px;
  overflow: hidden;
  height: 710px;
  margin-bottom: 96px;
}

.miningisfarfromideal .content {
  display: inline-block;
  width: 700px;
  text-align: center;
  margin: 80px 84px;
  vertical-align: top;
}

.miningisfarfromideal h1 {
  margin-bottom: 36px;
}

.miningisfarfromideal a {
  margin-top: 48px;
}

.objectives {
  margin-bottom: 96px;
  margin-top: 72px;
}

.objectives h4 {
  margin: 20px 0px 12px;
}

.objectives h2 {
  margin-bottom: 32px;
  margin-top: 48px;
}

.harnessing {
  background-image: url(/img/weusegradient.png);
  background-size: cover;
  padding: 48px;
  margin-bottom: 20px;
  border-radius: 12px;
}

.hashaitoken {
  border-radius: 12px;
  overflow: hidden;
  background-color: #171717;
}

.fadein {
  opacity: 1;
  margin-top: 100px;
}

.fade {
  opacity: 1;
}

.logos-carousel p {
  margin-top: 48px;
  padding-bottom: 16px;
  border-bottom: 1px solid rgba(255, 255, 255, 0.2);
}

.hashaitoken .content {
  padding: 0 48px 40px 48px;
}

.hashaitoken .content h4 {
  margin-bottom: 10px;
}

.hashaitoken .content {
  font-size: 15px;
}

.weuseai .left {
  background-image: url("/img/girlbg.png");
  background-size: cover;
}

.weuseai h2 {
  text-align: left;
  width: 80%;
  position: absolute;
  bottom: 40px;
  left: 40px;
}

.weuseai .left {
  display: inline-block;
  width: 627px;
  margin-right: 20px;
  padding: 40px;
  height: 633px;
  vertical-align: top;
  position: relative;
  border-radius: 12px;
}

.weuseai .right {
  display: inline-block;
  width: 627px;
}

#cpuvideo {
  width: 100%;
  object-fit: cover;
  height: 900px;
  position: absolute;
  top: -150px;
  max-width: 100%;
  display: block;
  vertical-align: middle;
  z-index: -2;
}

#linearcover {
  width: 100%;
  height: 900px;
  position: absolute;
  top: -150px;
  background: linear-gradient(rgba(255, 255, 255, 0) 40%, #0a0a0a);
  z-index: -1;
}

a.logo-containter {
  margin-left: 0;
}

.futureplans-left {
  width: 632px;
  float: left;
}

.futureplans-right {
  width: 632px;
  float: right;
}

.futureplans-left {
  background-image: url("/img/planleft.png");
}

.futureplans-right {
  background-image: url("/img/planright.png");
}

.topbg {
  background-image: url("/img/roadmapbg.png");
  width: 100%;
  height: 626px;
  position: absolute;
  top: 0;
  left: 0;
  background-size: cover;
  z-index: -1;
}

.topbg-overlay {
  background: linear-gradient(rgba(255, 255, 255, 0), #0a0a0a);
  width: 100%;
  height: 100%;
}

#roadmap .top-nav {
  margin-bottom: 0px;
}

#roadmap .intro {
  margin-bottom: 24px;
}

.map-step {
  position: relative;
  height: 164px;
  margin: 9px 0px;
  width: 400px;
  text-align: left;
}

.map-step h4 {
  position: absolute;
  bottom: 32px;
  left: 36px;
  max-width: 80%;
}

.road-steps {
  text-align: center;
  position: relative;
}

.step-img {
  position: absolute;
  right: 0;
  bottom: 0;
  height: 144px;
}

.futureplans h2 {
  margin-top: 48px;
  margin-bottom: 32px;
}

.futureplans h4 {
  margin-bottom: 12px;
}

#leftcurve {
  position: absolute;
  left: 0px;
  top: 280px;
}

#rightcurve {
  position: absolute;
  right: 0px;
  top: 90px;
}

.map-step-mid {
  margin-left: 12px;
  margin-right: 12px;
}

.container-map {
  background-image: url(/img/stepsbg.svg);
  background-repeat: no-repeat;
  background-position: center;
}

#tobe-step {
  background: linear-gradient(45deg, #555, #0a0a0a 70%);
}

#tobe-step h4 {
  color: rgba(255, 255, 255, 0.5);
  font-weight: 400;
}

#tobe-gradient {
  background-color: #0a0a0a;
  width: 396px;
  height: 160px;
  position: absolute;
  left: 2px;
  top: 2px;
  border-radius: 10px;
}


@media (width <= 480px) {
    .section-narrow {
        width: calc(100% - 24px);
    }
    
    .hidden-mobile {
        display: none !important;
    }
    
    .weuseai .left {
        width: 100%;
        background-position: right;
        height: 420px;
        padding: 24px;
        margin-right: 0;
    }
    
    .weuseai .right {
        width: 100%;
    }

    .btn-dapp {
        width: calc(100% - 40px);
        margin: 0 auto;
    }
    
    
    h1, h2, h3 {
        font-size: 26px !important;
        line-height: 32px !important
    }
    .wrapper {
        width: 100%;
        margin: 4px auto;
        padding: 28px 24px
    }
    
    .revolutionaryforce {
        width: 100%;
        margin: 6px auto;
        top: 0px;
    }
    
    .hidden-desktop {
        display: block;
    }
    
    h4 {
        font-size: 17px !important;
    }
    
    body {
        font-size: 17px !important;
        line-height: 24px !important;
    }
    
    .revolutionaryforce {
        padding: 28px 24px;
        top: 0px;
        background-size: 150% 100%;
    }
    
    .shapethefuture .content {
        top: -20px
    }
    
    .shapethefuture {
        height: auto;
        margin: 6px auto;
    }
    
    .logos-carousel p {
        margin-top: 16px;
        text-align: center;
        font-size: 15px
    }
    
    .problemandsolution {
        padding: 32px 0;
    }
    
    .hashaitoken {
        margin: 0 auto;
    }
    
    .hashaitoken .content {
        padding: 0 24px 24px 24px;
    }
    
    .mlogo {
        width: 112px;
        display: inline-block;
        position: absolute;
        top: 12px;
        left: 4px;
    }
    
    .intro {
        margin-bottom: 32px
    }
    
    .intro h1 {
        margin-top: 220px
    }
    
    .intro p {
        
        padding: 20px 0 24px;
    }
    
    .intro .btn-dapp {
        width: 100%;
    }
    
    #cpuvideo {
        max-width: calc(100% + 40px);
        width: calc(100% + 40px);
        height: 460px;
        top: -100px;
        left: -40px
    }
    
    #linearcover {
        height: 460px;
        top: -100px;
    }
    
    .weuseai h2 {
        bottom: 24px;
        left: 24px;
    }
    
    .weuseai .left {
        margin-bottom: 6px;
    }
    
    .harnessing {
        padding: 24px;
        margin: 6px 0 12px;;
    }
    
    .solutiontotheproblem h2 {
        width: 100%;
        text-align: center;
        margin-right: 0;
    }
    
    .solutiontotheproblem p {
        width: 100%;
        text-align: center;
        margin-bottom: 24px
    }
    
    .howitworks h4 {
        font-size: 16px !important;
    }
    
    #miningvideo {
        width: 100%;
        display: block;
    }
    
    .miningisfarfromideal {
        height: auto;
        font-size: 15px;
        margin-bottom: 32px;
    }
    
    .miningisfarfromideal .content {
        display: block;
        width: 100%;
        text-align: left;
        margin: 0;
        padding: 24px;
        vertical-align: top;
    }
    
    .miningisfarfromideal h1 {
        text-align: left;
        font-size: 32px;
        line-height: 40px;
        margin-bottom: 24px;
        margin-top: -217px;
        z-index: 2;
        position: relative;
    }
    
    .miningisfarfromideal .btn-dapp{
        width: 100%;
        margin-top: 24px;
    }
    
    #miningvideowrapper {
        height: 450px;
        overflow:hidden;
        display: inline-block;
        position: relative;
    }
    
    .logos-carousel {
        margin: 0;
        width: 100%;
    }
    
    .fadein {
        opacity: 1;
        margin-top: 0;
    }
    
    .objectives h2 {
        margin-bottom: 16px;
        margin-top: 24px;
    }
    
    .objectives {
        margin-bottom: 32px;
    }
    
    .solutiontotheproblem h2 {
        top: 0;
        margin-bottom: 16px
    }
    
    .burger {
        position: absolute;
        top: 16px;
        right: 16px;
    }
    
    .mmenu {
        background:#171717;
        padding: 16px;
        border-radius: 6px;
        width: 240px;
        position: absolute;
        top: 16px;
        right: 16px;
        z-index: 99;
        color: white;
    }
    
    .mmenu a {
        display: block;
        margin: 0 0 12px 0;
        width: 100%;
    }
    
    .mmenu .btn-dapp-small {
        margin-bottom: 0;
        margin-top: 18px;
    }
    
    .mmenu img {
        display: inline-block;
        position: relative;
        top: 6px;
        margin-right: 6px;
    }
    
    #close-menu {
        position: absolute;
        top: 0;
        right: -6px;
        padding: 12px;
    }
    
    footer {
        opacity: 1 !important;
    }
    
    .video-overlay {
        width: 100%;
        height: 100%;
        background-image: linear-gradient(rgba(0,0,0,0), #171717);
        z-index: 1;
        position: absolute;
        top: 0;
        left: 0;
    }
    
    .container-revolutionaryforce {
        opacity: 1 !important;
    }
    
    .futureplans h4 {
        font-size: 17px
    }
        
    .futureplans h2 {
        margin: 32px auto 16px;
    }
    
    .futureplans-left {
        width: 100%;
        font-size: 15px;
        margin-bottom: 8px;
        background-image: url("/img/mplanleft.png");
        background-size: cover;
    }
    
    .futureplans-right {
        width: 100%;
        font-size: 15px;
        background-image: url("/img/mplanright.png");
        background-size: cover;
    }
    
    #roadmap .intro h1 {
        margin-top: 96px
    }
     
    #roadmap .intro {
        margin-bottom: 0px;
    }
    
    .map-step {
        width: calc(50% - 9px);
        margin: 3px;
        
    }
    
    .section-map {
        padding: 0 6px;
        width: 100%;    
    }
    
    .map-step h4 {
        left: 24px;
        bottom: 20px;
        font-size: 15px !important;
        font-weight: 300;
        line-height: 24px;
        width: 70%;
    }
    
    .weuseai-mobile {
        background-image: url("/img/maibg.png");
        background-size: cover;
        padding-top: 250px;
        margin-bottom: 12px;
    }
    
    .weuseai-mobile h2 {
        position: relative;
        left: 0;
        top: 0;
        line-height: 32px;
        width: 100%;
    }
    
    .weuseai-mobile h4 {
        margin: 24px 0;
    }
    
    .intro h1 {
        line-height: 36px;
        font-size: 27px;
    }
    
}